.input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 0 var(--space-base);
    background-color: var(--white);
    border: 1px solid var(--gray2);
    border-radius: var(--radius-base);
    outline: none;
    font-size: 13px;

    &::placeholder {
        color: var(--gray2);
    }
    &:focus {
        border-color: var(--foreground);
    }
}
